.btn-danger{
    background-color: red !important;
    border-color: red !important;
}
.card {
		border-color: white !important;
	}
.btn-primary{
		background-color:black !important;
	    border-color: black !important;
	}
.bg-danger{
    background-color: #460000 !important;
}
	
